body{
    background: #352f5b;
  }
  .container{
    max-width: 400px;
  }
  input[type=text],
  input[type=text]:focus{
    color: #fff;
    border: none;
    background: rgba(0,0,0,0.2);
    max-width: 400px;
  }
  .todos li{
    background: #7f77a8;
  }
  .delete{
    cursor: pointer;
  }
  /* not display class="filtered" */
  .filtered{
    display: none !important; 
  }